@font-face {
    font-family: 'SeucaHd';
    src: url("./fonts/SuecaHd-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SeucaHd';
    src: url("./fonts/SuecaHd-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SeucaHd';
    src: url("./fonts/Sueca-RegularItalic.otf");
    font-weight: normal;
    font-style: italic;
    font-size: 1.13rem;
}

@font-face {
    font-family: 'SeucaSans';
    src: url("./fonts/SuecaSans-Regular.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SeucaSans';
    src: url("./fonts/SuecaSans-Bold.otf");
    font-weight: bold;
    font-style: normal;
}