$breakpoint-mobile: 767px !default;
$breakpoint-tablet: 991px !default;
$breakpoint-max: 1300px !default;

$color-base: #333 !default;
$color-gray: #888 !default;
$color-black: black !default;
$color-white: white !default;
$color-blue-afr: #1e88e5 !default;
$color-blue-dark: #0d3960 !default;

$box-shadow: 0px 8px 20px 0px rgba($color-black, 0.25) !default;